*.suo
bin/
obj/
*.backup.json
*.v9.bin
*.props
*.cache
*.targets
*.v2
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
*.g.cs
*.g.i.cs
*.dgspec.json
*.editorconfig
*.[o]
project.assets.json
*.dll
*.pdb
*.lref
*.removed.txt
*.cache.json
*.proxy.json
*.csproj.user
*.baml
*CoverletSourceRootsMapping
*deps.json
.vs
.dotnet/
dotnet-install.ps1
net10.0*
/src/Generated
.idea/
