*.suo
*.backup.json
*.v9.bin
*.props
*.cache
*.targets
*.v2
*.AssemblyInfo.cs
*.AssemblyAttributes.cs
*.g.cs
*.g.i.cs
*.dgspec.json
*.editorconfig
*.[o]
project.assets.json
*.dll
*.pdb
*.lref
*.removed.txt
*.cache.json
*.proxy.json
*.csproj.user
*.baml
*CoverletSourceRootsMapping
*deps.json
*.vsidx
*.v1.txt
.vs
/src/Web/OnlineGameConverter/OnlineGameConverter.Server/obj/Debug/net9.0/OnlineGameConverter.Server.RazorAssemblyInfo.cs
